body {
  /* background: #1C8EF9 !important; */
  font-weight: 400;
}

.forgot-password {
    text-align: right;
}

.App-logo {
    width: 250px;
}

.top-bar {
    height: 120px;
}

.App-link {
  color: #61dafb;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }
  
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.prof-heading{
  font-weight: bold;
}

.App-body{
  text-align: left;
  margin: 6px;
}

#recipe-desc, #recipe-chef{
  font-style: italic;
}