body {
  /* background: #1C8EF9 !important; */
  font-weight: 400;
}

.forgot-password {
    text-align: right;
}

.App-logo {
    width: 250px;
}

.top-bar {
    height: 120px;
}

.App-link {
  color: #61dafb;
}

#nav-dropdown::after {
  content: none;
}

.middle-container {
  max-width: 1000px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }
  
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}